@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.animate-wave {
  animation: wave 3s linear infinite;
}
